.info {
  margin: 6rem 0;
  width: 100%;
  display: flex;
  justify-content: center;

  &__icon {
    width: 5rem;
    height: 5rem;
  }

  &__content {
    width: 30%;
    height: 4rem;
  }

  &__weather {
    font-size: 3rem;
  }

  &__detail {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
}