.detail {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  &__item {
    padding: 1rem;
    &:not(:last-child) {
      border-right: 1px solid;
      border-image: 
    linear-gradient(
      to top, 
      #fff,
      #70b9ff
    ) 1 100%;
    }
  }

  &__wrapper {
    height: 100px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 5px 5px;
    &--surround {
      background: #1ae863;
      border-radius: 10%;
    }
  }

  &__add {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }

  &__percent {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    background: rgba(232, 228, 228, 0.178);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: #1ae863;
    }
  }

  &__percent-value {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    font-weight: 400;
  }
}